body{
  padding-top: 60px;
  -webkit-text-size-adjust: 70%; 
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  line-height: 1.3em;
}

h1{
  font-size: 1.9em;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.7em;
}

h4{
  font-size: 1.6em;
}

h5{
  font-size: 1.5em;
}

h6{
  font-size: 1.4em;
}

a[name]{
  padding-top: 100px;
  margin-top: -100px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.main{
    margin: auto;
    margin-top: 80px;
    text-align: left;
}

a{
  // color: #2A603B;
  color: black;
}

a:hover{
  // color: black;
  color: #2A603B;
  text-decoration: none;
}

.live_link a{
  color: #976E9A;
  text-decoration: underline;
}

.dead_link a{
  color: #52593B;
  color: black;
  pointer-events: none;
  cursor: default;
}

nav{
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;

  .profile{
  }
  
  a{
    font-size: 1.2em;

    .twitter{
    }

    .github{
    }
  }
}

.navbar{
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.mini-wall{
    height: 200px;
    padding-top: 65px;
    // background-color: #eeffaa;

    .profile{
        margin: auto;
        width: 100px;
        height: 100px;

        .profile_image{
            width: 100px;
            height: 100px;
        } 
    }
}


.wall{
    height: 215px;
    padding-top: 65px;
    // background-color: #eeffaa;

    .profile{
        margin: auto;
        width: 100px;
        height: 100px;

        .profile_image{
            width: 100px;
            height: 100px;
        } 
    }

    .title{
        margin-top: 25px;
        text-align: center;
        font-size: 2.5em;
    }

    .description{
    }
}

#container{
  padding: 0;
  margin: 0 auto;
}
  

.summary_card{
  overflow: hidden;
  margin-bottom: 4em;
  padding: 1.5em 0;

  img{
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
  }

  h1.title{

  }

  .summary{
    padding: 0em 0em 1em 0em;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;

    .link{
      font-size: 0.8em;
    }

    .title-image-wrapper{
      margin: 0 auto;
      text-align: center;
    }
    
    .title-image{
      width: 95%;
      // max-height: 150px;
      // max-width: 100%;
      display: inline;
      padding: 0;
      margin: 1em 0em 2em;
      box-shadow: 8px 8px 5px #888888;
    }
  }

  .tags{
    display: none;
    border-top: 1px solid black;
    padding-top: 1em;
    margin-top: 2em;
  }

  .barcode{
    margin-top: 4em;
  }
}

p.shape-title{
  font-size: 0.75em;
  text-align: center;
  font-weight: bold;
}

.articles{
  margin: 0;
  padding: 0;

    .article{
        margin-bottom: 55px;

        .date{
        }

        .title{
            font-weight: bold;
            margin-bottom: 32px;
        }

        .description{
          background-color: #eedeee;
          margin: 0.5em 0.1em 2em;
          padding: 1em;
        }

        .summary{
            font-size: 1.2em;
            line-height: 2em;
        }

        img{
          display: block;
          margin: 0em auto 0em;
          padding: 0;
          max-width: 100%;
        }
        
        .toc{
          font-size: 1.2em;
          padding: 15px 15px;
          margin: 35px auto;
          width: 95%;
          line-height: 1.7em;

          ul{
            list-style-type: none;
          }

          ul ul, ul ul ul, ul ul ul ul{
            list-style-type: lower-alpha;
          }

          .toc-h2{
            padding-left: 0px;
          }

          .toc-h3{
            padding-left: 20px;
          }

          .toc-h4{
            padding-left: 40px;
          }

          .toc-h5{
            padding-left: 60px;
          }

          .toc-h6{
            padding-left: 80px;
          }
        }

        .body{

            h1, h2, h3, h4, h5, h6{
                margin-top: 45px;
                margin-bottom: 15px;
            }

            .to_toc{
              font-size: 0.5em;
            }

            font-size: 1.2em;
            line-height: 1.7em;

            p{
                margin-bottom: 25px;
            }

            .footnotes{
              line-height: 1em;
              font-size: 0.9em;

              ol, ul{
                
              }
              
              p{
                margin-bottom: 10px; 
              }
            }
        }

        .recommand{
          margin-top: 3em;
          font-size: 1.2em;
          line-height: 1.7em;
        }
        
        .more{
            font-size: 0.9em;
        }

        .barcode{
          margin-top: 4em;
          margin-bottom: 3em;
        }
        
        .footer{
            height: 130px;
            margin-top: 65px;
            margin-bottom: 75px;

            .author{
                float: left;
                width: 60%;

                h1{
                    margin-top: 0;
                    font-size: 1.2em;
                    font-weight: 900;
                }
            }

            .share{
                float: left;
                width: 40%;
                
                h1{
                    margin-top: 0;
                    font-size: 1.3em;
                    font-weight: 900;
                }
            }
        }
    }

    .navigation{
      font-size: 1em;
      line-height: 1.7em;
      
      .prevnav{
      }

      .nextnav{
      }
      
    }
}

.site-footer{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;

    a{
      color: black;
    }

    a:visited{
    }
            

}

hr{

}
