%nav.navbar.navbar-fixed-top{ role: "navigation" }
  %div.navbar-header
    %a{href: "http://nacyot.com", class: "navbar-brand"} nacyot
  %div.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "http://blog.nacyot.com"}
          %i.fa.fa-comment
          프로그래밍 이야기
      %li
        %a{href: "http://wiki.nacyot.com"}
          %i.fa.fa-comment
          nacyot wiki
    %ul.nav.navbar-nav.navbar-right.profile
      %li
        %a{href: "https://twitter.com/nacyo_t"}
          %i.fa.fa-twitter.twitter
          @nacyo_t
      %li
        %a{href: "https://github.com/nacyot"}
          %i.fa.fa-github.github
          nacyot



