%nav.navbar.navbar-fixed-top{ role: "navigation" }
  %div.navbar-header
    %a{href: "http://nacyot.com", class: "navbar-brand"} nacyot
  %div.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "http://blog.nacyot.com"}
          %i.fa.fa-comment
          블로그
      %li
        %a{href: "http://wiki.nacyot.com"}
          %i.fa.fa-comment
          위키
    %ul.nav.navbar-nav.navbar-right.profile
      <form class="navbar-form navbar-right" role="search" id="cse-search-box" action="http://google.com/cse">
      <input type="hidden" name="cx" value="001442510316556568987:j38kphmalos" />
      <input type="hidden" name="ie" value="UTF-8" />
      <div class="form-group">
      <input class="form-control" type="text" name="q" size="15" />
      </div>
      <button class="btn btn-default" type="submit" name="sa" value="Search">Search</button>
      </form>

      %li
        %a{href: "https://twitter.com/nacyo_t"}
          %i.fa.fa-twitter.twitter
      %li
        %a{href: "https://github.com/nacyot/"}
          %i.fa.fa-github.github



