.main
  #container.js-masonry{"data-masonry-options" => '{ "isFitWidth": true, "gutter": 10,"itemSelector": ".summary_card"}'}
    - page_articles.each do |article|
      = partial "partials/summary", locals: {article: article}

  - if paginate
    - if prev_page
      = link_to 'Prev page', prev_page
    - if next_page
      = link_to 'Next page', next_page
