---
pageable: true
per_page: 30
---
.wall
  .profile
    = link_to "/" do 
      %img.img-rounded.profile_image{src: "/images/nacyot.jpeg"}
  %h1.title= "태그 > #{tagname}"

  .description  

= partial "partials/summaries", locals: {page_articles: page_articles, paginate: paginate, prev_page: prev_page, next_page: next_page}



