---
pageable: true
per_page: 30
---
- content_for :description, config.site_description
- content_for :title_image, "http://blog.nacyot.com/images/nacyot.jpeg"

.wall
  .profile
    = link_to "/" do 
      %img.img-rounded.profile_image{src: "/images/nacyot.jpeg"}
  %h1.title
    nacyot의 프로그래밍 이야기
  .description  

= partial "partials/summaries", locals: {page_articles: page_articles, paginate: paginate, prev_page: prev_page, next_page: next_page}
